/* Footer component styles */

/* General styles */
footer {
  background-color: #fff;
  color: #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 100px;
  height: auto;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #888;
}

/* Legal info, address and contact info */
/* .legal-info,
.address,
.contact-info { */
.info-container {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.legal-info p,
.address p,
.contact-info p {
  margin: 0.5rem 0;
}

/* Copyright */
.copyright {
  color: #888;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
  z-index: 1;
  bottom: 0%;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  nav {
    margin-bottom: 1rem;
  }

  nav li {
    margin-right: 0.5rem;
  }

  /* .legal-info,
  .address,
  .contact-info { */
  .info-container {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* .legal-info,
  .address,
  .contact-info { */
  .info-container {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}