.video-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
  margin: 0.5rem;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.video-container h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.react-player {
  margin: auto;
}