.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo-container img {
  display: block;
  width: 4rem;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links li {
  margin-top: 1rem;
}

.links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}